<script src="https://kit.fontawesome.com/8473edf9cd.js" crossorigin="anonymous"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script>
    function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "text") {
            x.type = "password";
        } else {
            x.type = "text";
            
        }
        var y = document.getElementById("password2");
        if (y.type === "text") {
            y.type = "password";
        } else {
            y.type = "text";
            
        }
    } 
</script>
</body>
</html>