<%- include('header') %>
<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('images/ilya-pavlov-OqtafYT5kTw-unsplash(1).jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <!-- <h3>Login to <strong>Colorlib</strong></h3> -->
            <h3>Zapnode</h3>
            <p class="mb-4">We're a one stop shop to all your tech problems.</p>
            <form action="#" method="post">
              <!-- <div class="form-group first">
                <label for="fname">First name</label>
                <input type="text" class="form-control" placeholder="first name" id="fname" name="fname">
              </div>
              <div class="form-group first">
                <label for="lname">Last name</label>
                <input type="text" class="form-control" placeholder="last name" id="lname" name="lname">
              </div> -->
              <div class="form-group first">
                <label for="email">Email</label>
                <span style="color: red;"> 
                    <%- error %> 
                </span>
                <input type="email" class="form-control" placeholder="your-email@gmail.com" id="email" name="email">
              </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Your Password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
              </div>
              <div class="form-group last mb-3">
                <label for="password">Repeat Password</label>
                
                <input type="password" class="form-control" placeholder="Your Password" id="password2" name="password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                <span style="color: red;"> 
                  <%- pass_error %> 
                </span>
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <input type="checkbox" onclick="myFunction()"> &nbsp Show password
                <span class="ml-auto"><a href="/" class="forgot-pass">Login now</a></span> 
              </div>

              <input type="submit" value="Sign up" class="btn btn-block signup">

            </form>
          </div>
        </div>
      </div>
    </div>

    
  </div>
<%- include('footer') %>
    

